<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registrar Prodcutos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="StyleSheet" href="/animal.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">
</head>
<body>
<div id="contenedor">
    <header>
        <h1>Sistema de Adopción de Animales Domésticos</h1>
        <center><label style="text-decoration: none;font-family: 'Fredoka One', cursive;color: white;text-shadow: 2px 2px 4px #000000;font-size: 25px;"> Tienda de accesorios</label>
        </center>
        <form th:action="@{/logout}" method="post">
            <button class="btn"><img style="position: absolute;top: 0;right: 1px;width: 50px;height: 50px" name="btnSalir" src="exit.png"/></button>
        </form>
        <a href="/"><img style="position: absolute;top: 55px;right: 1px;width: 50px;height: 50px" name="btnhome" src="home.png"/></a>
    </header>
    <nav>
        <ul>
            <li><a href="/InicioProductos"> Registrar</a></li>
            <li><a href="/infoProductos"> Consultar</a></li>
            <li><a href="/modificarProductos"> Modificar</a></li>
            <li><a href="/eliminarProductos"> Eliminar</a></li>
            <li><a href="/adoptarProductos"> Comprar</a></li>
        </ul>
    </nav>
    <center>
        <div class="div">
            <form action="#" th:action="@{/createProduct}" th:object="${product}" method="post"
                  enctype="multipart/form-data">
                <br>
                <br>
               <!-- <label class="textT"> Codigo de barras: </label>-->
                <input class="input" type="hidden" th:field="*{id}"/>

                <label class="textT"> Nombre del producto: </label>
                <input class="input" type="text" th:field="*{producto}"/>

                <label class="textT"> Precio: </label>
                <input class="input" type="text" name="cantidad" th:field="*{precio}">

                <label class="textT"> Cantidad: </label>
                <input class="input" type="text" name="cantidad" th:field="*{cantidad}">
                <br><br>
                <label class="textT"> Seleccionar Fotografía:</label>
                <input type="file" class="textT" name="adjunto" accept=".pdf,.jpg,.png" th:field="*{foto}">

                <br><br><br><br>
                <button class="textT" id=boton name="btnRegistrar">Registrar</button>
            </form>
        </div>
    </center>
</div>
</body>
</html>